<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=data.title%></h1>
    <h4>Penjual : <%=data.Seller.name%></h4>
    <h4>Rating Penjual : <%=data.Seller.rating%></h4>
    <br><br>
    <h1>Deskripsi:</h1>
    <p><%=data.description%></p>
    <h1>Reviews:</h1>
    <%data.Reviews.forEach(function(element){%>
      <p><%=element.review%></p>
    <%})%>
    <h1>Harga: <%=data.price%></h1><br>
    <h1><a href="/service/<%=data.id%>/order">Order Now</a></h1>

  </body>
</html>