<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>ini service</h1>
    <%data.forEach(function(element){%>
    <p>
      Seller : <%=element.Seller.name%><br>
      Rating: <%=element.Seller.rating%>
    </p>
      <%=element.title%><br>
      <%=element.getPrice()%><br>
      <a href="/service/<%=element.id%>">Detail</a>
    <%})%>
  </body>
</html>