<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Service</h1>
    <a href="/service/">All Service</a>
    <a href="/service/category/1">Graphic Design</a>
    <a href="/service/category/2">Digital Marketing</a>
    <a href="/service/category/3">Writing Translation</a>
    <a href="/service/category/4">Video and Animation</a>
    <a href="/service/category/5">Music and Audio</a>
    <a href="/service/category/6">Programming</a>
    <a href="/service/category/7">Fun and Lifestyle</a>
    <%data.forEach(function(element){%>
    <p>
      Seller : <%=element.Seller.name%><br>
      Rating: <%=element.Seller.rating%>
    </p>
      <%=element.title%><br>
      <%=element.getPrice()%><br>
      <a href="/service/<%=element.id%>">Detail</a>
    <%})%>
  </body>
</html>